{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <h1>Analys av metrics</h1>

    
    
    <ul>
        <li><a href="{{ path(app.request.attributes.get('_route')) }}#introduktion">Introduktion</a></li>
        <li><a href="{{ path(app.request.attributes.get('_route')) }}#phpmetrics">Phpmetrics</a></li>
        <li><a href="{{ path(app.request.attributes.get('_route')) }}#scrutinizer">Scrutinizer</a></li>
        <li><a href="{{ path(app.request.attributes.get('_route')) }}#forbattringar">Förbättringar</a></li>
        <li><a href="{{ path(app.request.attributes.get('_route')) }}#Diskussion">Diskussion</a></li>
    </ul>

    <h2 id="introduktion">Introduktion</h2>
    <p>
        Här följer en introduktion av metrics-analysen.

        <br>
        
    </p>

    <h2 id="phpmetrics">Phpmetrics</h2>
    <p></p>
</div>
{% endblock %}
