{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}

{% block body %}
    <h1>API dokumentation</h1>

    {% for route in routes %}
        {% if route.request == 'POST' %}
            <li><a href="{{ path(route.redirect) }}"><strong>{{route.request}} {{ route.url }}</strong></a>: {{ route.description }}</li>
        {% else %}
                <li><a href="{{ path(route.redirect ?? route.url) }}"><strong>{{route.request}} {{ route.url }}</strong></a>: {{ route.description }}</li>
        {% endif %}
    {% endfor %}
{% endblock %}